.navBar {
    background-color: lightgray;
}

.sideBar {
    border: 4px solid green;
}

.status {
    background-color: green;
}

.statusText {
    writing-mode: vertical-rl;
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.catContainer {
    padding-bottom: 10%;
    border: 4px solid teal;
}

.ticketList {
    padding: 15px;
}

.icons {
    text-align: right;
}

.topic {
    margin-left: 10px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.ticket{
    margin-bottom: 10px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: lime;
}


